<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <ul>
    <% RESTAURANT.menu.forEach((item)=>{ %>
       <li>
        <p>name</p> <%= item.name %>
        <p>price</p>  <%= item.price %>
        <p>rating</p> <%= item.rating %>
        <p>details</p> <%= item.details %>
      </li> 
    <% }) %>
  </ul>


</body>
</html>
